// Colors
$white: "#ffffff";
$gray: "#C1C1C1";

// Font size
$xs: 12px;
$sm: 14px;
$base: 16px;
$md: 18px;
$lg: 20px;
$xl: 24px;
$xxl: 32px;
$xxxl: 48px;

// Font weight
$light: 300;
$regular: 400;
$medium: 500;
$bold: 600;
$extraBold: 700;
